 <!-- user-home-list.component.html -->
<div class="list-container">
    <h2>Liste des locations</h2>
    <div class="spoiler-alert">
      <div class="spoiler-icon">🚨</div>
      <div class="spoiler-content">
          <p class="spoiler-title">Spoiler Alert : Votre futur logement est dans cette liste</p>
          <p class="spoiler-subtitle">À vous de le débloquer ! 🔓</p>
      </div>
  </div>
    <!-- Barre de recherche -->
  <div class="search-bar">
    <input type="text" [(ngModel)]="searchTerm" 
           (keyup.enter)="searchLocations()" 
           placeholder="Rechercher par ville...">
    <button (click)="searchLocations()">Rechercher</button>
    <button (click)="clearSearch()" *ngIf="searchTerm">Effacer</button>
  </div>

  <!-- Message d'erreur -->
  <div *ngIf="searchError" class="error-message">
    {{ searchError }}
  </div>

  <!-- Chargement -->
  <div *ngIf="isLoading" class="loading-spinner">
    Chargement en cours...
  </div>

  <!-- Liste vide -->
  <div *ngIf="filteredLocations.length === 0 && !isLoading" class="empty-message">
    Aucune location trouvée
  </div>
    
    <div *ngIf="locations.length === 0" class="empty-message">
      Aucune location disponible pour le moment.
    </div>
  
 
    <div class="location-grid">
        
      <div *ngFor="let location of locations" class="location-card">

        <div class="card-header">
          <h3>{{ location.type }} à {{ location.ville }}</h3>
          <span class="price">{{ location.prix }}DT/mois</span>
        </div>
        
        <div class="card-body">
          <p><strong>Superficie:</strong> {{ location.superficie }} m²</p>
          <p><strong>Adresse:</strong> {{ location.adresse }}</p>
          <p>{{ location.description }}</p>
          
          <div class="status">
            <span class="tag" [class.available]="location.disponibilite" [class.unavailable]="!location.disponibilite">
              {{ location.disponibilite ? 'Disponible' : 'Non disponible' }}
            </span>
            <span class="tag" [class.available]="location.meuble" [class.unavailable]="!location.meuble">{{ location.meuble ? 'Meublé' : 'Non Meublé' }}
            </span>
          </div>
        </div>
        
        <div class="card-footer">
          <a [routerLink]="['/locations', location.id]" class="btn-details">Détails</a>
        </div>
          </div>
      </div>
    </div>